
.formA{
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  
}

.dadosA1{
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.label-codA{
  width: 8%; 
}

.label-nomeA{
  width: 50%;
}

.label-docA{
  width: 40%;
  height: 30px;
  display: flex;
  flex-direction: row !important;
  justify-content: space-around;
  margin-top: 24px;
}

.select{
  width: 28%;
}

.dadosA2{
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-evenly;
}

.radio-sexoA{
  border: solid rgba(128, 128, 128, 0.212) 1px;
  border-radius: 5px;
  width: 19%;
  padding: 0 2% 2% 2%;
}

.radio-carneA{
  border: solid rgba(128, 128, 128, 0.212) 1px;
  border-radius: 5px;
  width: 19%;
  padding: 0 2% 2% 2%;
}

.label-carneA{
  width: 100%;
}

.radio-situacaoA{
  border: solid rgba(128, 128, 128, 0.212) 1px;
  border-radius: 5px;
  width: 19%;
  padding: 0 2% 2% 2%;
}

.dadosA3{
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.label-profissaoA{
  width: 35%;
}

.dadosA4{
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.label-conjugeA{
  width: 55%;
}

.label-abreviaturaA{
  width: 40%;
}

.dadosA5{
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.subA5{
  width: 40%;
}

.label-cepA{
  width: 80%;
  
}

.label-enderecoA{
  width: 60%; 
}

.btnBuscaA{
  background-color: rgba(182, 180, 180, 0.322) !important;
  margin-left: 5px;
  border: solid rgba(128, 128, 128, 0.377) 1px;
  margin-bottom: 3px;
  }

.btnBuscaA:hover{
  background-color: rgba(128, 128, 128, 0.377) !important;
  border: solid grey 1px;  
}

.dadosA6{
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.label-bairroA{
  width: 40%; 
}

.label-cidadeA{
  width: 40%; 
}

.label-ufA{
  width: 10%; 
}

.dadosA7{
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.label-paisA{
  width: 30%; 
}

.label-fone1A{
  width: 20%; 
}

.label-fone2A{
  width: 20%; 
}

.label-celA{
  width: 20%; 
}

.dadosA8{
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.label-mailA{
  width: 70%; 
}

.btnContatosA{
  background-color: rgba(182, 180, 180, 0.322) !important;
  margin-top: 24px;
  border: solid rgba(128, 128, 128, 0.377) 1px;
  margin-right: 80px;
  }

.btnContatosA:hover{
  background-color: rgba(128, 128, 128, 0.377) !important;
  border: solid grey 1px;  
}

.dadosA9{
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.dadosA10{
  width: 100%;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
}

.label-obsA{
  width: 70%; 
}


.editA{  
  width: 100%;
  display: flex;
  justify-content: space-evenly !important; 
}