.bi-list{
  font-size: 30px; 
}

.offCanvas{
  position: absolute;
  margin-top: 80px;
  max-width: 300px;
  border-radius: 0 50% 50% 0;
  overflow-x: hidden;
}

.listGroup1{
  width: 80%;
}

.listGroup2{
  width: 85%;
}

.listGroup3{
  width: 90%
}

.listGroup4{
  width: 90%;
}

.listGroup5{
  width: 90%;
}

.listGroup6{
  width: 85%;
}

.listGroup7{
  width: 80%;
}

.listGroup8{
  width: 75%;
}

.listGroup9{
  width: 70%;
}

/* .dropdownAluno{
  background-color: white;
  color: red;
} */
/* 
.dropdownAluno:hover{
  background-color: red !important;
}

.dropdownAluno:active{
  background-color: red !important;
} */

