.consultaData{
  display: inline;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  margin-top: 5%;
  padding: 5%;
}

.consultarPresenca{
  display: inline;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  margin-left: 5%;
}

.consultarBotao{    
  background-color: red !important;
}

